<settings>
  <servers>
    <server>
      <id>acd</id>
      <username>USERNAME_HERE</username>
      <password>PASSWORD_HERE</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>acd</id>
      <mirrorOf>*,!central</mirrorOf>
      <url>https://www.milieuinfo.be/artifactory/acd</url>
    </mirror>
    <mirror>
      <id>central</id>
      <mirrorOf>*</mirrorOf>
      <url>https://repo.maven.apache.org/maven2/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>acd</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <acd.repository.url>https://www.milieuinfo.be/artifactory</acd.repository.url>
        <acd.repository.node.dist.url>${acd.repository.url}/node-dist/</acd.repository.node.dist.url>
        <acd.repository.npm.dist.url>${acd.repository.url}/npm-dist/-/</acd.repository.npm.dist.url>
      </properties>
    </profile>
  </profiles>
</settings>
